In [2]:
names = "names.txt"
with open(names,"r") as file:
    file_data =file.readlines()
print(file_data)
print(type(file_data))

['tharhtet\n', 'kaungkaung\n', 'ths\n']
<class 'list'>

In [6]:
with open(names,"a") as fileWrite:
    fileWrite.writelines("ths\n")

In [4]:
with open(names,"w") as fileWrite:
    fileWrite.writelines("AA\n")

In [33]:
class Car:
    def __init__(self,license):
        self.license = license
        self.enginePower = 0
        self.fileName= "mycars.txt"

    def setEnginePower(self,enginePower):
        self.enginePower= enginePower
        
    def WriteTofile(self):
        write_str = self.license+"\t"+str(self.enginePower)+"\n"
        
        with open(self.fileName,"a") as fileWrite:
            fileWrite.writelines(write_str)

In [34]:
class LightTruck(Car):
    def __init__(self,license):
        super().__init__(license)
        super().setEnginePower(10)

In [35]:
class Crown(Car):
    def __init__(self,license):
        super().__init__(license)
        super().setEnginePower(80)

In [36]:
car1 = LightTruck("0001")
car2 = Crown("0002")

In [37]:
car1.WriteTofile()

In [38]:
car2.WriteTofile()

In [19]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");



#conn.close()

Opened database successfully

In [ ]:
conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully")

In [23]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

In [25]:
cursor = conn.execute("SELECT id, name, address, salary from COMPANY where COMPANY.salary >20000")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

In [26]:

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [27]:
cursor.execute("SELECT name FROM sqlite_master")