# Variable

### Variable Naming System
- variable Name must be in Nouns
- number in variable must in ended not front.
- variable Name can know the data type

In [10]:
num1  = 20
num1 = 20

In [12]:
print(num1+num2)

40

In [17]:
name ="Thar Htet San"
print(type(name))
yourname = 10
print(type(yourname))

<class 'str'>
<class 'int'>

### Type of variable and bit rate
- Interger (int)
- Float (float)
- String (str)

In [18]:
yourNumber = 10000000000

In [19]:
yourNumber = 1000000000000000000

In [20]:
yourSkill = 9.199999999999
yourSkill = 9.1999999999998888888888888 #bit rate -> 32 bits , 64-bits, 24-bits

In [21]:
yourName = "Gggggggggg"
yourName = "GgggggggggGggggggggg"

In [22]:
print(type(yourNumber))
print(type(yourSkill))
print(type(yourName))

<class 'int'>
<class 'float'>
<class 'str'>

### Variable Concat

In [25]:
name ="ths"
code = 9
code_name = name+str(code)
print(code_name)
print(type(code_name))

ths9
<class 'str'>

In [28]:
code= 9 
skill_rate = 9.
code_skill = code*skill_rate
print(code_skill)
print(type(code_skill))

81.0
<class 'float'>

In [32]:
codeName = "9"
print(type(codeName))
codeName = int(codeName)
print(type(codeName))

<class 'str'>
<class 'int'>

# Operator
- + add
- - sub
- * multi
- / devide
- % modu

In [35]:
num = 101
print(num%10)
print(num/10)

1
10.1

# Condiction statement

In [9]:
num = 81
if num > 80:
    print("pass with fly color")
else:
    print("normal pass")

pass with fly color

In [22]:
mark = 35

In [25]:
if mark > 80:
    print("A")
else :
    if mark > 60:
        print("B")
    else:
        if mark >40:
            print("C")
        else:
            if mark < 40:
                print("D")

D

In [26]:
if mark > 80:
    print("A")
elif mark >60:
    print("B")
elif mark > 40:
    print("C")
elif mark <40:
    print("D")

D

In [17]:
mark1 = None

# List and Dict
- List (work as array)
- dict  (key, value)
- set (store dict value )

In [48]:
marks = [50,70,60,70,90]
print(marks)
print(type(marks))

[50, 70, 60, 70, 90]
<class 'list'>

In [49]:
print(marks)
print("Marks Length: ",len(marks))
marks.remove(70) # only remove 1-item as a time
print("Marks Length: ",len(marks))
print(marks)

[50, 70, 60, 70, 90]
Marks Length:  5
Marks Length:  4
[50, 60, 70, 90]

In [50]:
marks.append(100)
print(marks)

[50, 60, 70, 90, 100]

In [51]:
marks.append("ths")
print(marks)

[50, 60, 70, 90, 100, 'ths']

In [54]:
myMark = {'eng' : 68, 'math':70,'bio':80}
print(myMark)

{'eng': 68, 'math': 70, 'bio': 80}

In [57]:
myMark['Mya'] = 80 # if key name are the same, it will append
print(myMark)

{'eng': 68, 'math': 70, 'bio': 80, 'Mya': 80}

In [61]:
print(myMark.items)
print(myMark.keys())

<built-in method items of dict object at 0x7fad3865dcc0>
dict_keys(['eng', 'math', 'bio', 'Mya'])

In [65]:
mydata = set()
mydata.add(80)
mydata.add(90)
mydata.add(80)
print(mydata)

{80, 90}

TypeError: 'set' object is not subscriptable

# Looping
- While loop
- For Loop
- For each Loop (mostly use)

In [1]:
print(1)
print(2)
print(3)

1
2
3

In [27]:
index  = 1
while index < 100:
    #print(index)
    index = index +1

In [34]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [66]:
marks = [50,70,60,70,90]
for cur_mark in marks:
    print(cur_mark)

50
70
60
70
90

In [68]:
mydata = set()
mydata.add(80)
mydata.add(90)
mydata.add(80)
mydata.add("ths")
for cur_mark in mydata:
    print(cur_mark)

80
90
ths

In [73]:
myMark = {'eng' : 68, 'math':70,'bio':80}
for key in myMark:
    print(key,myMark[key])

eng 68
math 70
bio 80

In [83]:
for key,value in myMark.items():
    print(key,value)

eng 68
math 70
bio 80