In [10]:
import pandas as pd
import numpy as np

In [11]:
def add(x):
    return x+10

In [13]:
x = lambda a :  a+10

In [16]:
print(x(5))
print(x)

15
<function <lambda> at 0x0000019FF4ECD0D0>

In [17]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}



df = pd.DataFrame(ipl_data)


df.head()

     Team  Rank  Year  Points
0  Riders     1  2014     876
1  Riders     2  2015     789
2  Devils     2  2014     863
3  Devils     3  2015     673
4   Kings     3  2014     741

In [18]:
len(df)

12

In [8]:
df.groupby('Team')

In [9]:
df.groupby('Team').groups

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

In [25]:
df.groupby('Team').apply(np.mean)

            Rank         Year      Points
Team
Devils  2.500000  2014.500000  768.000000
Kings   1.666667  2015.666667  761.666667
Riders  1.750000  2015.500000  762.250000
Royals  2.500000  2014.500000  752.500000
kings   4.000000  2015.000000  812.000000

In [19]:
prior = (df.groupby('Team').apply(lambda x: len(x)) / len(df)).to_numpy()

In [20]:
prior

array([0.16666667, 0.25      , 0.33333333, 0.16666667, 0.08333333])